@charset "UTF-8";
#header .nav-bar ul{
  display:none;
}
#header .nav-bar:hover ul{
  display:block;
}
#main {
  background: #F3F3F3;
  border-top: 2px solid #E5004A; }
  #main .top {
    height: 582px; }
    #main .top .head-link {
      height: 33px;
      font-size: 12px;
      line-height: 32px;
      padding-left: 7px;
      color: #666666; }
      #main .top .head-link a {
        color: #666; }
      #main .top .head-link p {
        display: inline-block; }
    #main .top .details {
      background: pink; }
      #main .top .details .details-left {
        width: 434px;
        height: 549px;
        padding: 10px 0 0 11px;
        background: #fff; }
        #main .top .details .details-left .img-box {
          width: 423px;
          height: 424px;
          border: 1px solid #E6E6E6; }
          #main .top .details .details-left .img-box .img {
            width: 421px;
            height: 422px; }
        #main .top .details .details-left .lens-box {
          display: none;
          overflow: hidden;
          position: absolute;
          width: 300px;
          height: 300px;
          border: 1px solid #E6E6E6; }
          #main .top .details .details-left .lens-box .lens {
            width: 480px;
            height: 480px; }
        #main .top .details .details-left ul {
          width: 432px;
          height: 76px;
          padding-top: 9px; }
          #main .top .details .details-left ul li {
            float: left;
            border: 1px solid #E6E6E6;
            margin-left: 12px; }
            #main .top .details .details-left ul li img {
              height: 64px; }
          #main .top .details .details-left ul li:hover {
            border: 1px solid #e5004b; }
        #main .top .details .details-left .share {
          width: 432px;
          padding-left: 15px; }
          #main .top .details .details-left .share span {
            height: 39px;
            display: inline-block;
            font-size: 12px;
            line-height: 38px;
            color: #666666; }
      #main .top .details .details-rigth {
        height: 549px;
        background: red;
        padding-left: 27px;
        background: #fff; }
        #main .top .details .details-rigth .shop-name {
          height: 114px;
          padding-top: 21px; }
          #main .top .details .details-rigth .shop-name > p {
            height: 28px;
            font-size: 18px;
            line-height: 28px;
            color: #C4C7D4; }
          #main .top .details .details-rigth .shop-name div {
            font-size: 0; }
            #main .top .details .details-rigth .shop-name div h3, #main .top .details .details-rigth .shop-name div p, #main .top .details .details-rigth .shop-name div span {
              display: inline-block;
              font-size: 18px;
              line-height: 66px;
              color: #666666; }
            #main .top .details .details-rigth .shop-name div span {
              color: #E5004B; }
            #main .top .details .details-rigth .shop-name div h3 {
              margin-left: 5px; }
        #main .top .details .details-rigth .price-box {
          width: 739px;
          height: 97px;
          background: #F9F9F9; }
          #main .top .details .details-rigth .price-box div {
            height: 48px;
            font-size: 12px;
            line-height: 48px;
            padding-left: 14px; }
            #main .top .details .details-rigth .price-box div span {
              font-size: 18px;
              color: #E5004B;
              margin-left: 68px; }
            #main .top .details .details-rigth .price-box div span::before {
              content: '￥'; }
            #main .top .details .details-rigth .price-box div img {
              margin: 0 0 8px 19px; }
          #main .top .details .details-rigth .price-box p {
            height: 46px;
            font-size: 12px;
            line-height: 46px;
            color: #6C6C6C;
            padding-left: 14px; }
            #main .top .details .details-rigth .price-box p .cost {
              margin-left: 57px; }
            #main .top .details .details-rigth .price-box p .cost::before {
              content: '￥'; }
        #main .top .details .details-rigth .list-bottom {
          width: 739px;
          height: 223px; }
          #main .top .details .details-rigth .list-bottom .cost-box {
            height: 26px;
            margin-top: 6px;
            font-size: 12px;
            line-height: 26px;
            color: #6C6C6C;
            padding-left: 14px; }
            #main .top .details .details-rigth .list-bottom .cost-box span {
              display: inline-block;
              margin-left: 72px; }
            #main .top .details .details-rigth .list-bottom .cost-box select {
              margin-left: 2px;
              border: 1px solid #666666; }
            #main .top .details .details-rigth .list-bottom .cost-box p {
              display: inline-block;
              margin-left: 22px; }
          #main .top .details .details-rigth .list-bottom .day-box {
            height: 44px;
            padding-left: 14px;
            font-size: 12px;
            line-height: 44px;
            color: #6C6C6C; }
            #main .top .details .details-rigth .list-bottom .day-box p {
              display: inline-block;
              font-size: 12px;
              margin-left: 46px;
              color: #A2A2A2; }
            #main .top .details .details-rigth .list-bottom .day-box span {
              margin-left: 32px;
              color: #A2A2A2; }
          #main .top .details .details-rigth .list-bottom .shop-num {
            width: 338px;
            height: 36px;
            padding-left: 14px;
            font-size: 12px;
            line-height: 36px;
            color: #6C6C6C; }
            #main .top .details .details-rigth .list-bottom .shop-num div {
              display: inline-block;
              width: 121px;
              border: 1px solid #DDDDDD;
              margin-left: 53px; }
              #main .top .details .details-rigth .list-bottom .shop-num div input {
                width: 59px;
                height: 34px;
                text-align: center; }
              #main .top .details .details-rigth .list-bottom .shop-num div span {
                display: inline-block;
                font-size: 12px;
                width: 30px;
                height: 34px;
                background: #F9F9F9;
                text-align: center;
                line-height: 36px;
                cursor: pointer; }
            #main .top .details .details-rigth .list-bottom .shop-num p {
              display: inline-block;
              height: 34px; }
              #main .top .details .details-rigth .list-bottom .shop-num p span {
                color: #FF8A00; }
          #main .top .details .details-rigth .list-bottom .btn-box {
            margin-top: 25px;
            padding-left: 114px;
            font-size: 0; }
            #main .top .details .details-rigth .list-bottom .btn-box a {
              display: inline-block;
              text-align: center;
              font-size: 16px;
              line-height: 42px;
              color: #fff; }
            #main .top .details .details-rigth .list-bottom .btn-box .add-shop {
              width: 138px;
              background: #E5004B; }
              #main .top .details .details-rigth .list-bottom .btn-box .add-shop .circle {
                position: absolute;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 1px solid violet; }
            #main .top .details .details-rigth .list-bottom .btn-box .add-shop:hover {
              background: #ff8a00; }
            #main .top .details .details-rigth .list-bottom .btn-box .app-buy {
              width: 164px;
              height: 42px;
              margin-left: 10px;
              border: 1px solid #E5004B;
              color: #E5004B; }
              #main .top .details .details-rigth .list-bottom .btn-box .app-buy i {
                margin-left: 26px; }
              #main .top .details .details-rigth .list-bottom .btn-box .app-buy span {
                margin-right: 30px; }
            #main .top .details .details-rigth .list-bottom .btn-box .collect {
              width: 70px;
              height: 42px;
              margin-right: 211px;
              font-size: 12px;
              color: #DEDEDE; }
              #main .top .details .details-rigth .list-bottom .btn-box .collect span {
                color: #009AFF; }
