@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,input{ margin:0; padding:0; font-family:"微软雅黑","华文细黑";}

fieldset, img,input,button,select,textarea { border:0 none; padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的蓝色边框*/
ul, ol, li{ list-style:none; }
/*input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}*/
select, input { vertical-align:middle;}
/*select, input, textarea { font-size:12px; margin:0; }*/
textarea { resize:none; } /*防止拖动*/
img {border:0; vertical-align:middle; }  
/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse:collapse; }

.clearfix:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
    zoom:1;
}
a { text-decoration:none; }

h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:1em;}  /*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}

.container { 
    width: 1200px;
    margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.al {
    text-align:left;
}
.ac {
    text-align:center;
}
.ar {
    text-align:right;
}
.hide {
    display:none;
}
.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
.font16{ font-size: 16px;}
*{box-sizing:border-box;}

aside {
  position: relative;
  position: fixed;
  right: 0;
  top: 0;
  width: 34px;
  height: 100%;
  background: #E5004B;
  z-index: 1; }
  aside ul {
    padding-top: 106px; }
    aside ul .top {
      font-size: 0;
      height: 109px; }
      aside ul .top a {
        display: inline-block;
        padding: 0 10px 0 6px; }
        aside ul .top a i {
          font-size: 18px;
          color: #fff; }
      aside ul .top :nth-child(2) {
        margin-top: 25px; }
      aside ul .top :nth-child(3) {
        margin-top: 27px; }
    aside ul .bottom {
      height: 20px;
      position: absolute;
      bottom: 37px;
      margin-left: 10px; }
      aside ul .bottom i {
        color: #fff; }
#header .top {
  background: #333; }
  #header .top .login-box {
    width: 262px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    color: #DBDBDB; }
    #header .top .login-box a {
      color: #E5004A; }
    #header .top .login-box a:hover {
      color: #fff; }
  #header .top .top_nav {
    width: 572px; }
    #header .top .top_nav > ul {
      padding-left: 44px; }
      #header .top .top_nav > ul li {
        float: left;
        font-size: 12px;
        line-height: 30px;
        color: #DBDBDB; }
        #header .top .top_nav > ul li a {
          color: #DBDBDB; }
          #header .top .top_nav > ul li a i {
            display: inline-block;
            transform: rotate(90deg); }
      #header .top .top_nav > ul .one-pair {
        margin-left: 20px; }
      #header .top .top_nav > ul .two-pair {
        margin-left: 26px; }
      #header .top .top_nav > ul .three-pair {
        margin-left: 33px; }
      #header .top .top_nav > ul li:nth-child(3) {
        position: relative; }
        #header .top .top_nav > ul li:nth-child(3) ul {
          display: none;
          position: absolute;
          left: -5px;
          top: 31px;
          width: 80px;
          height: 170px;
          background: #333;
          padding-top: 10px; }
          #header .top .top_nav > ul li:nth-child(3) ul li {
            width: 100%;
            text-align: center; }
      #header .top .top_nav > ul li:nth-child(3):hover > ul {
        display: block;
        transition: transform 2s; }
      #header .top .top_nav > ul li:nth-child(4) {
        position: relative; }
        #header .top .top_nav > ul li:nth-child(4) > ul {
          display: none;
          z-index: 1;
          position: absolute;
          left: -50px;
          top: 31px;
          width: 146px;
          height: 296px;
          background: #333;
          padding-top: 15px; }
          #header .top .top_nav > ul li:nth-child(4) > ul li {
            width: 100%;
            text-align: center; }
          #header .top .top_nav > ul li:nth-child(4) > ul li:nth-child(2) {
            margin-top: 16px; }
      #header .top .top_nav > ul li:nth-child(4):hover > ul {
        display: block; }
      #header .top .top_nav > ul li:nth-child(6) {
        position: relative; }
        #header .top .top_nav > ul li:nth-child(6) > ul {
          display: none;
          position: absolute;
          left: -10px;
          top: 31px;
          width: 110px;
          height: 63px;
          background: #333;
          z-index: 1; }
          #header .top .top_nav > ul li:nth-child(6) > ul li {
            width: 100%;
            text-align: center; }
      #header .top .top_nav > ul li:nth-child(6):hover > ul {
        display: block; }

#header .bottom {
  border-bottom: 2px solid #E5004A; }
  #header .bottom .search-wrap .logo {
    width: 202px;
    padding-top: 35px; }
    #header .bottom .search-wrap .logo h1 {
      text-indent: -100000px; }
      #header .bottom .search-wrap .logo h1 a {
        display: block;
        width: 200px;
        height: 70px;
        background: url("../img/logo.jpg"); }
  #header .bottom .search-wrap .search-box {
    width: 579px;
    padding-top: 35px;
    margin-left: 120px; }
    #header .bottom .search-wrap .search-box form {
      width: 579px; }
      #header .bottom .search-wrap .search-box form .search-icon {
        position: relative;
        width: 35px;
        height: 40px;
        background: #E5004A; }
        #header .bottom .search-wrap .search-box form .search-icon i {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); }
      #header .bottom .search-wrap .search-box form #search-text {
        width: 441px;
        height: 40px;
        border-top: 4px solid #E5004A;
        border-bottom: 4px solid #E5004A;
        background: #fff;
        padding-left: 10px; }
      #header .bottom .search-wrap .search-box form #submit-btn {
        width: 103px;
        height: 40px;
        background: #E5004A;
        font-size: 18px;
        line-height: 40px;
        text-align: center;
        color: #FEF9FB; }
    #header .bottom .search-wrap .search-box > ul {
      width: 382px;
      height: 30px;
      padding: 10px 0 0 10px; }
      #header .bottom .search-wrap .search-box > ul li {
        float: left;
        font-size: 12px;
        color: #666; }
        #header .bottom .search-wrap .search-box > ul li a {
          padding: 0 10px;
          color: #666; }
      #header .bottom .search-wrap .search-box > ul li:hover a {
        color: #e5004a; }
  #header .bottom .search-wrap .shop-box {
    width: 169px;
    height: 123px;
    padding-top: 35px; }
    #header .bottom .search-wrap .shop-box a {
      display: block;
      width: 146px;
      height: 40px;
      background: #E5004A;
      padding-left: 8px;
      padding-top: 3px; }
      #header .bottom .search-wrap .shop-box a i {
        margin-top: 5px;
        font-size: 24px;
        color: #fff; }
      #header .bottom .search-wrap .shop-box a :nth-child(2) {
        line-height: 37px;
        font-size: 14px;
        margin-left: 14px;
        color: #fff; }
      #header .bottom .search-wrap .shop-box a :nth-child(3) {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 34px;
        font-size: 12px;
        line-height: 34px;
        text-align: center;
        margin: 0 4px 0 10px;
        background: #fff;
        color: #EB3771; }
        #header .bottom .search-wrap .shop-box a :nth-child(3) span {
          position: absolute;
          left: -10px;
          top: 12px;
          display: inline-block;
          width: 0;
          border: 5px solid #E5004A;
          border-right: 5px solid #fff; }
  #header .bottom .header-nav {
    width: 859px; }
    #header .bottom .header-nav .nav-bar {
      position: relative;
      z-index: 1;
      width: 210px;
      height: 38px;
      background: #E5004A; }
      #header .bottom .header-nav .nav-bar > a {
        display: inline-block;
        font-size: 14px;
        line-height: 38px;
        padding-left: 14px;
        color: #fff; }
      #header .bottom .header-nav .nav-bar ul {
        position: relative;
        position: absolute;
        left: 0;
        top: 38px;
        width: 210px;
        height: 445px;
        background: #E5004B;

        border-left: 2px solid #e5004b; }
        #header .bottom .header-nav .nav-bar ul li > a {
          display: block;
          height: 41px;
          font-size: 14px;
          line-height: 41px;
          padding-left: 16px;
          color: #fff; }
          #header .bottom .header-nav .nav-bar ul li > a span {
            margin-left: 16px; }
          #header .bottom .header-nav .nav-bar ul li > a :nth-child(1) {
            font-size: 18px; }
          #header .bottom .header-nav .nav-bar ul li > a :nth-child(3) {
            margin-right: 18px; }
        #header .bottom .header-nav .nav-bar ul li > a:hover {
          background: #fff;
          color: #e5004b; }
        #header .bottom .header-nav .nav-bar ul li > a:hover i:nth-child(3) {
          color: #fff; }
        #header .bottom .header-nav .nav-bar ul li .list-itme {
          background: #fff; }
        #header .bottom .header-nav .nav-bar ul li > div {
          display: none;
          position: absolute;
          left: 208px;
          top: 0;
          width: 800px;
          height: 445px;
          border-right: 2px solid #E5004B;
          border-bottom: 2px solid #E5004B; }
          #header .bottom .header-nav .nav-bar ul li > div .itme-left {
            width: 598px;
            height: 442px;
            padding-top: 7px; }
            #header .bottom .header-nav .nav-bar ul li > div .itme-left dl {
              height: 32px;
              line-height: 32px; }
              #header .bottom .header-nav .nav-bar ul li > div .itme-left dl dt {
                font-size: 12px;
                padding: 0 15px 0 24px; }
                #header .bottom .header-nav .nav-bar ul li > div .itme-left dl dt a {
                  font-weight: bold;
                  color: #000; }
              #header .bottom .header-nav .nav-bar ul li > div .itme-left dl dd {
                font-size: 0; }
                #header .bottom .header-nav .nav-bar ul li > div .itme-left dl dd a {
                  padding: 0 8px;
                  font-size: 12px;
                  color: #646464;
                  border-left: 1px solid #CFCFCF; }
                #header .bottom .header-nav .nav-bar ul li > div .itme-left dl dd :nth-child(2) {
                  border-left: 2px solid #CFCFCF; }
                #header .bottom .header-nav .nav-bar ul li > div .itme-left dl dd a:hover {
                  color: #e5004a; }
          #header .bottom .header-nav .nav-bar ul li > div .itme-right {
            width: 200px;
            height: 442px; }
        #header .bottom .header-nav .nav-bar ul li .list-mom dl:nth-child(5) {
          height: 64px; }
          #header .bottom .header-nav .nav-bar ul li .list-mom dl:nth-child(5) dt {
            width: 88px;
            height: 64px; }
        #header .bottom .header-nav .nav-bar ul li .list-mom :nth-child(11) dt {
          height: 79px; }
        #header .bottom .header-nav .nav-bar ul li .list-milk :nth-child(3) dt {
          height: 126px; }
        #header .bottom .header-nav .nav-bar ul li .list-food dl:nth-child(2) {
          height: 64px; }
          #header .bottom .header-nav .nav-bar ul li .list-food dl:nth-child(2) dt {
            height: 64px; }
        #header .bottom .header-nav .nav-bar ul li .list-food :nth-child(3) dt {
          height: 125px; }
        #header .bottom .header-nav .nav-bar ul li .list-diaper dl:nth-child(1) {
          height: 64px; }
          #header .bottom .header-nav .nav-bar ul li .list-diaper dl:nth-child(1) dt {
            height: 64px; }
        #header .bottom .header-nav .nav-bar ul li .list-diaper :nth-child(3) dt {
          height: 125px; }
        #header .bottom .header-nav .nav-bar ul li .list-care dl:nth-child(1), #header .bottom .header-nav .nav-bar ul li .list-care dl:nth-child(2) {
          height: 64px; }
          #header .bottom .header-nav .nav-bar ul li .list-care dl:nth-child(1) dt, #header .bottom .header-nav .nav-bar ul li .list-care dl:nth-child(2) dt {
            height: 64px; }
        #header .bottom .header-nav .nav-bar ul li .list-care :nth-child(3) dt {
          height: 125px; }
        #header .bottom .header-nav .nav-bar ul li .list-toy dl:nth-child(1) {
          height: 64px; }
          #header .bottom .header-nav .nav-bar ul li .list-toy dl:nth-child(1) dt {
            height: 64px; }
        #header .bottom .header-nav .nav-bar ul li .list-toy :nth-child(5) {
          height: 125px; }
          #header .bottom .header-nav .nav-bar ul li .list-toy :nth-child(5) dt {
            float: left;
            height: 125px; }
        #header .bottom .header-nav .nav-bar ul li .list-tool dl:nth-child(1) {
          height: 64px; }
          #header .bottom .header-nav .nav-bar ul li .list-tool dl:nth-child(1) dt {
            height: 64px; }
        #header .bottom .header-nav .nav-bar ul li .list-tool :nth-child(4) {
          height: 125px; }
          #header .bottom .header-nav .nav-bar ul li .list-tool :nth-child(4) dt {
            height: 125px; }
        #header .bottom .header-nav .nav-bar ul li .list-clothes dl:nth-child(3) {
          height: 64px; }
          #header .bottom .header-nav .nav-bar ul li .list-clothes dl:nth-child(3) dt {
            height: 64px; }
        #header .bottom .header-nav .nav-bar ul li .list-clothes dl:nth-child(5) {
          height: 96px; }
          #header .bottom .header-nav .nav-bar ul li .list-clothes dl:nth-child(5) dt {
            height: 96px; }
        #header .bottom .header-nav .nav-bar ul li .list-cate :nth-child(6) {
          height: 157px; }
          #header .bottom .header-nav .nav-bar ul li .list-cate :nth-child(6) dt {
            height: 157px; }
        #header .bottom .header-nav .nav-bar ul li .list-beauty :nth-child(7) {
          height: 157px; }
          #header .bottom .header-nav .nav-bar ul li .list-beauty :nth-child(7) dt {
            height: 157px; }
        #header .bottom .header-nav .nav-bar ul li:hover .list-itme {
          display: block; }
    #header .bottom .header-nav .nav-main {
      width: 634px;
      height: 38px; }
      #header .bottom .header-nav .nav-main li {
        float: left; }
        #header .bottom .header-nav .nav-main li a {
          padding: 0 30px;
          font-size: 14px;
          line-height: 38px;
          text-align: center;
          font-weight: bold;
          color: #333; }
          #header .bottom .header-nav .nav-main li a i {
            font-size: 18px;
            margin-left: 16px; }
        #header .bottom .header-nav .nav-main li .active {
          color: #e5004a; }
      #header .bottom .header-nav .nav-main li:hover a {
        color: #e5004a; }
      #header .bottom .header-nav .nav-main li:hover i {
        color: #000; }
footer {
  background: #333; }
  footer .top {
    background: #E5004B; }
    footer .top ul {
      height: 108px; }
      footer .top ul li {
        float: left;
        width: 165px;
        height: 108px;
        margin: 0 60px 0 70px;
        padding-top: 29px; }
  footer .center {
    padding-top: 29px; }
    footer .center dl {
      float: left;
      height: 117px;
      font-size: 12px;
      line-height: 28px;
      padding: 0 57px;
      border-right: 1px solid #444; }
      footer .center dl dt {
        font-size: 14px;
        color: #DBDBDB; }
      footer .center dl a {
        display: block;
        color: #666666;
        text-align: center; }
      footer .center dl a:hover {
        color: #e5004a; }
    footer .center :nth-child(5) {
      height: 88px; }
    footer .center img {
      margin-left: 31px; }
  footer .bottom {
    height: 158px;
    padding-left: 404px;
    border-top: 2px solid #444; }
    footer .bottom .content {
      width: 425px;
      height: 158px; }
      footer .bottom .content ul {
        width: 276px;
        height: 35px;
        padding-top: 10px;
        margin-left: 70px; }
        footer .bottom .content ul li {
          float: left; }
          footer .bottom .content ul li a {
            font-size: 12px;
            line-height: 24px;
            padding: 0 10px;
            border-left: 1px solid #444;
            color: #666; }
          footer .bottom .content ul li a:hover {
            color: #e5004a; }
      footer .bottom .content > a {
        position: relative;
        display: inline-block;
        width: 265px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        margin-left: 70px;
        padding-left: 25px;
        color: #666; }
        footer .bottom .content > a img {
          position: absolute;
          left: 0;
          top: 0; }
      footer .bottom .content p {
        width: 425px;
        height: 24px;
        font-size: 12px;
        line-height: 24px;
        margin-top: 14px;
        color: #666; }
      footer .bottom .content div {
        width: 277px;
        height: 47px;
        margin-left: 72px; }
