@charset "UTF-8";
#banner {
  position: relative;
  height: 445px; }
  #banner ul img {
    width: 100%;
    height: 445px; }
  #banner .page {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0); }
    #banner .page li {
      float: left;
      width: 25px;
      height: 25px;
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
      line-height: 25px;
      border-radius: 50%;
      margin: 5px;
      color: #fff; }
    #banner .page .active {
      background: #e5004a; }
  #banner span {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 45px;
    height: 65px;
    background: rgba(0, 0, 0, 0.4);
    font-size: 25px;
    line-height: 65px;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 5px 5px; }
  #banner .btnLeft {
    left: 22%; }
  #banner .btnRight {
    right: 21%; }
  #banner .banner-right {
    position: absolute;
    left: 80%;
    top: 0; }

#main {
  height: 4430px; }
  #main .mian-buy .container {
    padding-top: 30px;
    height: 547px; }
    #main .mian-buy .container .top {
      font-size: 0; }
      #main .mian-buy .container .top div {
        padding-left: 15px;
        width: 328px;
        height: 54px;
        line-height: 54px; }
        #main .mian-buy .container .top div i {
          display: inline-block;
          font-size: 24px;
          color: #A6CE39; }
        #main .mian-buy .container .top div span {
          font-size: 24px;
          margin-left: 15px;
          color: #000; }
        #main .mian-buy .container .top div p {
          display: inline-block;
          font-size: 12px;
          margin-left: 22px;
          color: #999; }
      #main .mian-buy .container .top a {
        width: 72px;
        height: 54px;
        font-size: 12px;
        line-height: 54px;
        text-align: center;
        margin-right: 17px;
        color: #D71D55; }
    #main .mian-buy .container .bottom .time {
      position: relative;
      height: 44px;
      border-bottom: 2px solid #EDEDED; }
      #main .mian-buy .container .bottom .time p {
        position: absolute;
        left: 0;
        top: 28px;
        width: 360px;
        height: 36px;
        background: #E5004A;
        border-radius: 0 18px 18px 0;
        padding-left: 30px;
        font-size: 16px;
        line-height: 36px;
        color: #fff; }
      #main .mian-buy .container .bottom .time a {
        position: absolute;
        top: 31px;
        display: inline-block;
        width: 90px;
        height: 26px;
        background: #E5004A;
        border-radius: 18px 18px 18px 18px;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #fff; }
      #main .mian-buy .container .bottom .time :nth-child(2) {
        left: 630px; }
      #main .mian-buy .container .bottom .time :nth-child(3) {
        left: 820px; }
      #main .mian-buy .container .bottom .time :nth-child(4) {
        left: 1010px; }
    #main .mian-buy .container .bottom .shop {
      height: 419px;
      padding-top: 77px; }
      #main .mian-buy .container .bottom .shop ul li {
        float: left;
        width: 230px;
        height: 300px;
        padding-left: 5px; }
        #main .mian-buy .container .bottom .shop ul li img {
          width: 219px;
          height: 219px; }
        #main .mian-buy .container .bottom .shop ul li h3 {
          font-size: 0; }
          #main .mian-buy .container .bottom .shop ul li h3 a {
            font-size: 12px;
            line-height: 26px;
            margin-top: 7px;
            color: #666; }
        #main .mian-buy .container .bottom .shop ul li h3:hover a {
          color: #E5004B; }
        #main .mian-buy .container .bottom .shop ul li .price {
          color: #E5004B;
          font-size: 16px;
          line-height: 28px; }
        #main .mian-buy .container .bottom .shop ul li .price::before {
          content: '￥'; }
        #main .mian-buy .container .bottom .shop ul li .cost {
          font-size: 10px;
          color: #A2A2A2; }
        #main .mian-buy .container .bottom .shop ul li .cost::before {
          content: '￥'; }
        #main .mian-buy .container .bottom .shop ul li del {
          color: #A2A2A2; }
  #main .main-limit .top {
    height: 53px;
    font-size: 0; }
    #main .main-limit .top div {
      padding-left: 15px;
      width: 328px;
      height: 54px;
      line-height: 54px; }
      #main .main-limit .top div i {
        display: inline-block;
        font-size: 24px;
        color: #A6CE39; }
      #main .main-limit .top div span {
        font-size: 24px;
        margin-left: 15px;
        color: #000; }
      #main .main-limit .top div p {
        display: inline-block;
        font-size: 12px;
        margin-left: 22px;
        color: #999; }
    #main .main-limit .top a {
      width: 72px;
      height: 54px;
      font-size: 12px;
      line-height: 54px;
      text-align: center;
      margin-right: 17px;
      color: #D71D55; }
  #main .main-limit .bottom ul {
    height: 1096px; }
    #main .main-limit .bottom ul li {
      height: 272px; }
      #main .main-limit .bottom ul li img {
        width: 590px;
        border: 2px solid #F9F9F6; }
    #main .main-limit .bottom ul li:nth-child(1) {
      margin-left: -328px; }
    #main .main-limit .bottom ul li:nth-child(2n-1) {
      float: left; }
    #main .main-limit .bottom ul li:nth-child(2n) {
      float: right; }
  #main .main-mom .container {
    height: 476px;
    border-top: 4px solid #C388B3; }
    #main .main-mom .container .left {
      width: 201px;
      height: 441px;
      border-left: 2px solid #E8E8E8;
      border-bottom: 2px solid #E8E8E8; }
      #main .main-mom .container .left div {
        position: relative; }
        #main .main-mom .container .left div span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 22px;
          color: #fff; }
      #main .main-mom .container .left ul {
        font-size: 0;
        width: 201px;
        height: 176px; }
        #main .main-mom .container .left ul li a {
          width: 88px;
          padding: 0 20px 0 20px;
          font-size: 12px;
          line-height: 33px;
          text-align: center;
          color: #666; }
        #main .main-mom .container .left ul li .active {
          color: #C388B3; }
        #main .main-mom .container .left ul li a:hover {
          color: #e5004a; }
        #main .main-mom .container .left ul li .active:hover {
          color: #C388B3; }
        #main .main-mom .container .left ul :nth-child(2n-1) {
          float: left; }
        #main .main-mom .container .left ul :nth-child(2n) {
          float: right; }
  #main .main-milk .container {
    height: 476px;
    border-top: 4px solid #FD686E; }
    #main .main-milk .container .left {
      width: 201px;
      height: 445px;
      border-left: 2px solid #E8E8E8;
      border-bottom: 2px solid #E8E8E8; }
      #main .main-milk .container .left div {
        position: relative; }
        #main .main-milk .container .left div img {
          width: 199px; }
        #main .main-milk .container .left div span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 22px;
          color: #fff; }
      #main .main-milk .container .left ul {
        font-size: 0;
        width: 201px;
        height: 176px; }
        #main .main-milk .container .left ul li a {
          width: 88px;
          padding-left: 10px;
          font-size: 12px;
          line-height: 33px;
          text-align: center;
          color: #666; }
        #main .main-milk .container .left ul li .active {
          color: #FD686E; }
        #main .main-milk .container .left ul li a:hover {
          color: #e5004a; }
        #main .main-milk .container .left ul li .active:hover {
          color: #FD686E; }
        #main .main-milk .container .left ul :nth-child(2n-1) {
          float: left; }
        #main .main-milk .container .left ul :nth-child(2n) {
          float: right; }
  #main .main-diaper .container {
    height: 476px;
    border-top: 4px solid #FD686E; }
    #main .main-diaper .container .left {
      width: 201px;
      height: 445px;
      border-left: 2px solid #E8E8E8;
      border-bottom: 2px solid #E8E8E8; }
      #main .main-diaper .container .left div {
        position: relative; }
        #main .main-diaper .container .left div img {
          width: 199px; }
        #main .main-diaper .container .left div span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 22px;
          color: #fff; }
      #main .main-diaper .container .left ul {
        font-size: 0;
        width: 201px;
        height: 176px; }
        #main .main-diaper .container .left ul li a {
          width: 88px;
          padding-left: 10px;
          font-size: 12px;
          line-height: 33px;
          text-align: center;
          color: #666; }
        #main .main-diaper .container .left ul li .active {
          color: #97bd50; }
        #main .main-diaper .container .left ul li a:hover {
          color: #e5004a; }
        #main .main-diaper .container .left ul li .active:hover {
          color: #97bd50; }
        #main .main-diaper .container .left ul :nth-child(2n-1) {
          float: left; }
        #main .main-diaper .container .left ul :nth-child(2n) {
          float: right; }
  #main .main-toy .container {
    height: 476px;
    border-top: 4px solid #a285dd; }
    #main .main-toy .container .left {
      width: 201px;
      height: 445px;
      border-left: 2px solid #E8E8E8;
      border-bottom: 2px solid #E8E8E8; }
      #main .main-toy .container .left div {
        position: relative; }
        #main .main-toy .container .left div img {
          width: 199px; }
        #main .main-toy .container .left div span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 22px;
          color: #fff; }
      #main .main-toy .container .left ul {
        font-size: 0;
        width: 201px;
        height: 176px; }
        #main .main-toy .container .left ul li a {
          width: 88px;
          padding-left: 10px;
          font-size: 12px;
          line-height: 33px;
          text-align: center;
          color: #666; }
        #main .main-toy .container .left ul li .active {
          color: #a285dd; }
        #main .main-toy .container .left ul li a:hover {
          color: #e5004a; }
        #main .main-toy .container .left ul li .active:hover {
          color: #a285dd; }
        #main .main-toy .container .left ul :nth-child(2n-1) {
          float: left; }
        #main .main-toy .container .left ul :nth-child(2n) {
          float: right; }
  #main .main-cate .container {
    height: 476px;
    border-top: 4px solid #fbae3b; }
    #main .main-cate .container .left {
      width: 201px;
      height: 445px;
      border-left: 2px solid #E8E8E8;
      border-bottom: 2px solid #E8E8E8; }
      #main .main-cate .container .left div {
        position: relative; }
        #main .main-cate .container .left div img {
          width: 199px; }
        #main .main-cate .container .left div span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 22px;
          color: #fff; }
      #main .main-cate .container .left ul {
        font-size: 0;
        width: 201px;
        height: 176px; }
        #main .main-cate .container .left ul li a {
          width: 88px;
          padding-left: 10px;
          font-size: 12px;
          line-height: 33px;
          text-align: center;
          color: #666; }
        #main .main-cate .container .left ul li .active {
          color: #fbae3b; }
        #main .main-cate .container .left ul li a:hover {
          color: #e5004a; }
        #main .main-cate .container .left ul li .active:hover {
          color: #fbae3b; }
        #main .main-cate .container .left ul :nth-child(2n-1) {
          float: left; }
        #main .main-cate .container .left ul :nth-child(2n) {
          float: right; }
  #main .main-huizong {
    padding-top: 22px; }
    #main .main-huizong .top {
      font-size: 0;
      height: 70px;
      line-height: 70px;
      padding-left: 20px; }
      #main .main-huizong .top i {
        font-size: 23px;
        color: #39C9CE; }
      #main .main-huizong .top span {
        font-size: 22px;
        margin-left: 10px; }
      #main .main-huizong .top p {
        display: inline-block;
        font-size: 12px;
        margin-left: 20px;
        color: #999; }
    #main .main-huizong .bottom {
      font-size: 0;
      height: 170px; }
      #main .main-huizong .bottom a {
        margin-left: 13px; }
      #main .main-huizong .bottom :nth-child(1) {
        margin-left: 0; }
  #main .center {
    width: 400px;
    height: 441px;
    transform-style: preserve-3d;
    perspective: 80px; }
    #main .center img {
      height: 441px;
      transition: transform 1s; }
  #main .center:hover img {
    transform: translateZ(1px); }
  #main .right {
    width: 599px;
    border: 1px solid #E8E8E8; }
    #main .right li {
      float: left;
      width: 198px;
      padding-top: 13px;
      border-left: 1px solid #E8E8E8;
      border-bottom: 1px solid #E8E8E8; }
      #main .right li a {
        font-size: 0; }
        #main .right li a img {
          width: 198px;
          height: 184px; }
        #main .right li a h3 {
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          color: #333333; }
        #main .right li a span {
          width: 198px;
          display: inline-block;
          text-align: center;
          font-size: 14px;
          line-height: 24px;
          color: #E5004B; }
    #main .right :nth-child(4), #main .right :nth-child(5), #main .right :nth-child(6) {
      height: 190px; }
      #main .right :nth-child(4) img, #main .right :nth-child(5) img, #main .right :nth-child(6) img {
        height: 126px; }