#header {
  background: #F2F2F2; }
  #header .container {
    height: 104px; }
    #header .container .logo {
      width: 334px;
      height: 104px; }
      #header .container .logo h1 {
        width: 188px;
        height: 104px;
        padding-top: 10px;
        text-indent: -10000px; }
        #header .container .logo h1 a {
          display: block;
          width: 188px;
          height: 94px;
          background: url("../img/zhuce-logo.png") no-repeat; }
      #header .container .logo span {
        width: 146px;
        height: 52px;
        font-size: 28px;
        line-height: 52px;
        color: #333333;
        margin-top: 15px;
        padding-left: 30px;
        border-left: 1px solid #DBDBDB; }

#main {
  position: relative;
  width: 100%;
  height: 481px;
  background: red;
  border-bottom: 1px solid #DBDBDB; }
  #main form {
    position: absolute;
    left: 895px;
    top: 46px;
    width: 342px;
    height: 392px;
    background: #fff;
    border: 1px solid #DBDBDB;
    padding: 29px 0 0 23px; }
    #main form .hint {
      height:20px;
      font-size:12px;
      line-height:20px;
      padding-left:20px;
      margin-top:7px;
      color:#e5004b; }
    #main form div {
      width: 319px;
      height: 28px; }
      #main form div h3 {
        display: inline-block;
        width: 72px;
        height: 28px;
        font-size: 18px;
        line-height: 28px;
        color: #686565;
        font-weight: bold; }
      #main form div p {
        width: 160px;
        height: 28px;
        font-size: 12px;
        line-height: 28px;
        color: #999999; }
         #main form div p a{
          color: #137CE9; }
    #main form ul {
      width: 296px;
      margin-top:4px; }
    #main form .option{
      width:295px;
      height:28px;
      padding-left:2px;
      font-size:12px;
      margin-top:13px;
      line-height:28px;
      color:#777777;    
    }
      #main form .option .auto-login{
        margin-left:30px;
      }
      #main form .option a{
        margin-left:40px;  
        color:#777777;    
      }
    #main form .else-login{
      width:295px;
      margin-top:19px;
    }
      #main form .else-login span{
      font-size:12px;
      line-height:24px;
      color:#777777;
     }
     #main form .else-login a{
      margin-left:3px;
     }
      #main form ul li {
        position: relative;
        width: 296px;
        height: 40px;
        margin-top: 12px; }
      #main form ul .sliding{
        background:#F29DBA;}
        #main form ul .sliding span{
          position:relative;
          display:inline-block;
          width:53px;
          height:34px;
          background:#fff;
          border-radius:5px 5px 5px 5px;
          margin:3px 0 0 3px;}
          #main form ul .sliding i{
            position:absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
          }
          #main form ul .sliding p{
          display:inline-block;
          width:140px;
          height:40px;
          font-size:12px;
          line-height:40px;
          margin-right:62px;
          text-align:center;
          color:#fff;}
        #main form ul li > input {
          width: 296px;
          height: 40px;
          background: #F9F9F9;
          font-size: 12px;
          color: #A9A9A9;
          padding-left: 44px; }
        #main form ul li i {
          position: absolute;
          left: 17px;
          top: 50%;
          transform: translate(0, -50%);
          font-size: 14px; }
    #main form #btn {
      width: 295px;
      height: 44px;
      background: #E5004B;
      cursor: pointer;
      font-size: 18px;
      line-height: 44px;
      color: #fff; }

#footer {
  height: 130px;
  background: #F3F3F3;
  padding-left: 470px; }
  #footer .center {
    width: 427px;
    height: 130px; }
    #footer .center p {
      height: 52px;
      font-size: 12px;
      line-height: 52px;
      color: #9C9C9C; }
    #footer .center div {
      width: 268px;
      margin: 12px auto; }
      #footer .center div :nth-child(2) img {
        width: 127px;
        height: 47px; }
