#header{
    background:#F2F2F2;
    .container{
        height:104px;
        .logo{
            width:334px;
            height:104px;
            h1{
                width:188px;
                height:104px;
                padding-top:10px;
                text-indent:-10000px;
                a{
                    display:block;
                    width:188px;
                    height:94px;
                    background: url("../img/zhuce-logo.png")no-repeat;
                }  
            }
            span{
                width:146px;
                height:52px;
                font-size:28px;
                line-height:52px;
                color:#333333;
                margin-top:15px;
                padding-left:30px;
                border-left:1px solid #DBDBDB;
            }
        }
    }
}
#main{
    position:relative;
    width:100%;
    height:481px;
    background:red;
    border-bottom:1px solid #DBDBDB;
    form{
        position:absolute;
        left:895px;;
        top:46px;
        width:342px;
        height:392px;
        background:#fff;
        border:1px solid #DBDBDB;
        padding:29px 0 0 23px;
        div{
            width:319px;
            height:28px;
            h3{
                display:inline-block;
                width:72px;
                height:28px;
                font-size:18px;
                line-height:28px;
                color:#686565;
                font-weight:bold;
            }
            p{
                width:140px;
                height:28px;
                font-size:12px;
                line-height:28px;
                color:#999999;
                a{
                }
            }
        }
        ul{
            width:296px;
            margin-top:26px;
            li{
                position:relative;
                width:296px;
                height:40px;
                margin-top:12px;
                >input{
                    width:296px;
                    height:40px;
                    background:#F9F9F9;
                    font-size:12px;
                    color:#A9A9A9;
                    padding-left:44px;
                }
                i{
                    position:absolute;
                    left:17px;
                    top:50%;
                    transform:translate(0,-50%);
                    font-size:14px;
                }
            }
            :nth-child(3),:nth-child(4){
                #mobile-code,#auth-code{
                    width:176px;
                }
                a,button{
                    display:inline-block;
                    cursor: pointer;
                    width:104px;
                    height:40px;
                    text-align:center;
                    font-size:14px;
                    line-height:40px;
                    color:#fff;
                    background:#B2ACD9;
                }
                button{
                    background:#E5004B;
                }
            }
        }
        p{
            width:296px;
            height:32px;
            margin-top:4px;
            font-size:12px;
            line-height:32px;
            padding-left:8px;
            color:#666666;
            a{
                color:#137CE9;
            }
        }
        #btn{
            width:295px;
            height:44px;
            background:#E5004B;
            font-size:18px;
            line-height:44px;
            cursor: pointer;
            color:#fff;
        }
    }
}
#footer{
    height:130px;
    background:#F3F3F3;
    padding-left:470px;
    .center{
        width:427px;
        height:130px;
        p{
            height:52px;
            font-size:12px;
            line-height:52px;
            color:#9C9C9C;
        }
        div{
            width:268px;
            margin:12px auto;
            :nth-child(2){
                img{
                    width:127px;
                    height:47px;
                }  
            }
        }
    }
}