#main{
    background:#F3F3F3;
    border-top:2px solid #E5004A;
    .top{
        height:582px;
        .head-link{
            height:33px;
            font-size:12px;
            line-height:32px;
            padding-left:7px;
            color:#666666;
            a{
                color:#666;
            }
            p{
                display:inline-block;
            }
        }
        .details{
            background:pink;
            .details-left{
                width:434px;
                height:549px;
                padding:10px 0 0 11px;
                background:#fff;
                .img-box{
                    width:423px;
                    height:424px;
                    border:1px solid #E6E6E6;
                    .img{
                        width:421px;
                        height:422px;
                    }
                }
                .lens-box{
                    display:none;
                    overflow: hidden;
                    position:absolute;
                    width:300px;
                    height:300px;
                    border:1px solid #E6E6E6;
                    .lens{
                        width:600px;
                        height:600px;
                    }
                }
                ul{
                    width:432px;
                    height:76px;
                    padding-top:9px;
                    li{
                        float:left;
                        border:1px solid #E6E6E6;
                        margin-left:12px;
                        img{
                            height:64px;
                        }
                    }
                    li:hover{
                        border:1px solid #e5004b;
                    }
                }
                .share{
                    width:432px;
                    padding-left:15px;
                    span{
                        height:39px;
                        display:inline-block;
                        font-size:12px;
                        line-height:38px;
                        color:#666666;
                    }
                }
            }
            .details-rigth{
                height:549px;
                background:red;
                padding-left:27px;
                background:#fff;
                .shop-name{
                    height:114px;
                    padding-top:21px;

                    >p{
                        height:28px;
                        font-size:18px;
                        line-height:28px;
                        color:#C4C7D4;
                    }
                    div{
                        font-size:0;
                        h3,p,span{
                            display:inline-block;
                            font-size:18px;
                            line-height:66px;
                            color:#666666;
                        }
                        span{
                            color:#E5004B;
                        }
                        h3{
                            margin-left:5px;
                        }
                    }
                }
                .price-box{
                    width:739px;
                    height:97px;
                    background:#F9F9F9;
                    div{
                        height:48px;    
                        font-size:12px;
                        line-height:48px;
                        padding-left:14px;
                        span{
                            font-size:18px;
                            color:#E5004B;
                            margin-left:68px;
                        }
                        span::before{
                            content:'￥';
                        }
                        img{
                            margin:0 0 8px 19px;;
                        }
                    }
                    p{
                        height:46px;
                        font-size:12px;
                        line-height:46px;
                        color:#6C6C6C;
                        padding-left:14px;
                        .cost{
                            margin-left:57px;
                        }
                        .cost::before{
                            content:'￥';
                        }
                    }
                }
                .list-bottom{
                    width:739px;
                    height:223px;
                    .cost-box{
                        height:26px;
                        margin-top:6px;
                        font-size:12px;
                        line-height:26px;
                        color:#6C6C6C;
                        padding-left:14px;
                        span{
                            display:inline-block;
                            margin-left:72px;
                        }
                        select{
                            margin-left:2px;
                            border:1px solid #666666;
                        }

                        p{
                            display:inline-block;
                            margin-left:22px;
                        }
                    }
                    .day-box{
                        height:44px;
                        padding-left:14px;
                        font-size:12px;
                        line-height:44px;
                        color:#6C6C6C;
                        p{
                            display:inline-block;
                            font-size:12px;
                            margin-left:46px;
                            color:#A2A2A2;
                        }
                        span{
                            margin-left:32px;
                            color:#A2A2A2;
                        }
                    }
                    .shop-num{
                        width:338px;
                        height:36px;
                        padding-left:14px;
                        font-size:12px;
                        line-height:36px;
                        color:#6C6C6C;
                        div{
                            display:inline-block;
                            width:121px;
                            border:1px solid #DDDDDD;
                            margin-left:53px;
                            input{
                                width:59px;
                                height:34px;
                                text-align:center;
                            }
                            span{
                                display:inline-block;
                                font-size:12px;
                                width:30px;
                                height:34px;
                                background:#F9F9F9;
                                text-align:center;
                                line-height:36px;
                                cursor: pointer;
                            }
                        }
                        p{
                            display:inline-block;
                            height:34px;
                            span{
                                color:#FF8A00;
                            }
                        }
                    }
                    .btn-box{
                        margin-top:25px;
                        padding-left:114px;
                        font-size:0;
                        a{
                            display:inline-block;
                            text-align:center;
                            font-size:16px;
                            line-height:42px;
                            color:#fff;
                        }
                        .add-shop{
                            width:138px;
                            background:#E5004B;
                            .circle{
                                position:absolute;
                                width:60px;
                                height:60px;
                                border-radius:50%;
                                border:1px solid violet;
                            }
                        }
                        .add-shop:hover{
                            background:#ff8a00;
                        }
                        .app-buy{
                            width:164px;
                            height:42px;
                            margin-left:10px;
                            border:1px solid #E5004B;
                            color:#E5004B;
                            i{
                                margin-left:26px;
                            }
                            span{
                                margin-right:30px;
                            }
                        }
                        .collect{
                            width:70px;
                            height:42px;
                            margin-right:211px;
                            font-size:12px;
                            color:#DEDEDE;
                            span{
                                color:#009AFF;
                            }
                        }
                    }
                }
            }
        }
    }
}