@charset "UTF-8";
#header .nav-bar ul{
  display:none;
}
#header .nav-bar:hover ul{
  display:block;
}
#main {
  background: #F3F3F3;
  border-top: 2px solid #E5004A; }
  #main .container {
    height: 1166px; }
    #main .container .top p {
      width: 115px;
      height: 55px;
      font-size: 12px;
      line-height: 55px;
      padding-left: 11px;
      color: #666666; }
      #main .container .top p a {
        color: #666666; }
    #main .container .center {
      height: 254px; }
      #main .container .center .categor-left {
        width: 206px;
        height: 92px;
        background: #fff;
        padding-left: 21px; }
        #main .container .center .categor-left div {
          width: 166px;
          border-bottom: 3px solid #E5E5E5; }
          #main .container .center .categor-left div span {
            display: block;
            width: 56px;
            height: 38px;
            font-size: 14px;
            font-weight: bold;
            padding-top: 17px;
            color: #666666;
            border-bottom: 3px solid #E5004B; }
        #main .container .center .categor-left a {
          display: block;
          width: 166px;
          height: 53px;
          font-size: 12px;
          text-align: center;
          color: #666666;
          padding: 16px 0 25px 0; }
      #main .container .center .categor-rigth {
        width: 984px;
        height: 245px;
        background: #fff;
        padding-top: 13px; }
        #main .container .center .categor-rigth dl {
          width: 984px;
          height: 31px;
          border-bottom: 1px solid #E9E9E9;
          font-size: 12px;
          line-height: 30px;
          padding-left: 16px; }
          #main .container .center .categor-rigth dl dt {
            float: left;
            color: #333333;
            font-weight: bold; }
          #main .container .center .categor-rigth dl dd {
            float: left;
            margin-left: 38px; }
            #main .container .center .categor-rigth dl dd a {
              color: #666666; }
            #main .container .center .categor-rigth dl dd :nth-child(2) {
              margin-left: 32px; }
            #main .container .center .categor-rigth dl dd a:hover {
              color: #e5004a; }
        #main .container .center .categor-rigth :nth-child(7) {
          height: 38px;
          border-top: 3px solid #F3F3F3;
          line-height: 38px;
          border-bottom: 0; }
          #main .container .center .categor-rigth :nth-child(7) dd {
            margin-left: 26px; }
            #main .container .center .categor-rigth :nth-child(7) dd :nth-child(2), #main .container .center .categor-rigth :nth-child(7) dd :nth-child(3) {
              margin-left: 26px; }
    #main .container .bottom {
      width: 984px;
      height: 855px; }
      #main .container .bottom ul {
        width: 984px; }
        #main .container .bottom ul li {
          float: left;
          width: 239px;
          height: 398px;
          background: #fff;
          margin-left: 9px;
          padding: 30px 15px 0 13px;
          border: 3px solid #fff; }
          #main .container .bottom ul li .img-box {
            display: block;
            width: 200px;
            height: 200px;
            margin: auto; }
            #main .container .bottom ul li .img-box img {
              width: 200px;
              height: 200px; }
          #main .container .bottom ul li .goods-head {
            display: block;
            width: 212px;
            height: 49px;
            font-size: 12px;
            line-height: 24px;
            color: #666666;
            margin-top: 34px; }
            #main .container .bottom ul li .goods-head span {
              font-size: 14px;
              line-height: 24px;
              color: #E9004B;
              font-weight: bold; }
            #main .container .bottom ul li .goods-head h3 {
              display: inline-block; }
          #main .container .bottom ul li p {
            width: 212px;
            height: 28px;
            line-height: 28px;
            color: #E5004B;
            font-size: 0; }
            #main .container .bottom ul li p span {
              font-size: 14px; }
            #main .container .bottom ul li p del {
              color: #A2A2A2; }
            #main .container .bottom ul li p .cost {
              font-size: 12px; }
            #main .container .bottom ul li p .price {
              font-weight: bold; }
            #main .container .bottom ul li p .price::before {
              content: '￥'; }
            #main .container .bottom ul li p .cost::before {
              content: '￥'; }
          #main .container .bottom ul li .bottom {
            width: 212px;
            height: 34px;
            font-size: 0;
            margin-top: 9px; }
            #main .container .bottom ul li .bottom .num {
              display: inline-block;
              width: 44px;
              border: 1px solid #EAEAEA; }
              #main .container .bottom ul li .bottom .num input {
                width: 31px;
                height: 32px;
                font-size: 10px;
                line-height: 34px;
                text-align: center; }
              #main .container .bottom ul li .bottom .num div {
                width: 11px;
                height: 32px;
                font-size: 0;
                padding-top: 1px; }
                #main .container .bottom ul li .bottom .num div span {
                  display: inline-block;
                  width: 11px;
                  height: 14px;
                  line-height: 12px;
                  font-size: 10px;
                  text-align: center;
                  cursor: pointer; }
                #main .container .bottom ul li .bottom .num div :nth-child(2) {
                  margin-top: 2px; }
            #main .container .bottom ul li .bottom .shop-add {
              display: inline-block;
              width: 113px;
              background: #F6F6F6;
              font-size: 12px;
              line-height: 32px;
              text-align: center;
              color: #333333;
              border: 1px solid #EAEAEA;
              margin-left: 6px;
              cursor: pointer; }
            #main .container .bottom ul li .bottom .collect {
              display: inline-block;
              width: 45px;
              height: 34px;
              background: #F6F6F6;
              font-size: 12px;
              line-height: 34px;
              text-align: center;
              color: #666666;
              border: 1px solid #EAEAEA;
              cursor: pointer; }
        #main .container .bottom ul :nth-child(5), #main .container .bottom ul :nth-child(6), #main .container .bottom ul :nth-child(7), #main .container .bottom ul :nth-child(8) {
          margin-top: 9px; }
        #main .container .bottom ul :nth-child(1), #main .container .bottom ul :nth-child(5) {
          margin-left: 0; }
        #main .container .bottom ul li:hover {
          border: 3px solid #D20037; }
        #main .container .bottom ul li:hover .shop-add {
          background: #e5004a;
          color: #fff; }
      #main .container .bottom .page {
        display: inline-block;
        width: 245px;
        margin-top: 10px; }
        #main .container .bottom .page span, #main .container .bottom .page a {
          display: inline-block;
          height: 30px;
          line-height: 30px;
          text-align: center; }
        #main .container .bottom .page span {
          width: 60px;
          background: #ddd;
          font-size: 12px;
          cursor: pointer; }
        #main .container .bottom .page a {
          width: 30px;
          margin-left: 20px;
          font-size: 14px;
          background: #ddd;
          border: 1px solid #ddd;
          border-radius: 3px 3px 3px 3px;
          color: #E5004B; }
